Package: MineServerTools
Version: x.y.z
Maintainer: Dev Isac Gondim
Architecture: all
Description: Description: Ferramentas essenciais para manter um servidor Minecraft sempre ativo
 Este pacote fornece uma coleção de ferramentas e scripts necessários para garantir
 que um servidor Minecraft esteja sempre ativo e funcionando de forma estável. 
 Inclui suporte para reinicialização automática, backups regulares, e monitoramento
 de desempenho.
Depends: tar, wget, rsync, tmux, unzip, lsof, top


